form{
    display: table-caption;
}
fieldset{
    width: 500px;
    position: relative;
}
fieldset.padrao{
    opacity: 1;
    display: inherit;
}
fieldset.troca, fieldset.instalacao, fieldset.suporte, fieldset.retirada, fieldset.retiradaS, fieldset.retiradaN{
    opacity: 0;
    display: none;
}
fieldset#tryVisit, fieldset#tryCall{
    min-height: 40px;
}
fieldset#equip fieldset{
    width: 460px;
}
fieldset#otherRetCheck{
    width: 456px;
}
fieldset#fibRetCheck, fieldset#cpeRetCheck{
    width: 210px;
}
fieldset#infoT.show, fieldset#equip.show, fieldset#equipRet.show{
    display: inline;
}
fieldset#infoT.hide, fieldset#equip.hide{
    display: none;
}
fieldset.show{
    display: inherit;
    opacity: 1;
}
label.show{
    display: unset;
}
.hide{
    opacity: 0;
    display: none;
}
div.lab{
    display: inline-block;
}
input:not([type]), input[type=number], input[type=date], input[type=time], textarea{
    margin-bottom: 1px;
    margin-left: 2px;
    vertical-align: top;
}
input.mac{
    width: 130px;
}
input#cliName{
    width: 243px;
}
input.pot, input[name=p], input.nv{
    width:70px;
}
textarea#otherRetChk, textarea#provid{
    width: 400px;
}
textarea.problemDes{
    width: 340px;
}
.speed{
    width: 100px;
}
button.butAdd{
    position: absolute;
    right: 20px;
}
button.tec{
    top: 43px;
}
